In [ ]:
import pandas as pd

In [15]:
# Criano um Dicionário, transformando o dicionárip em um Dataframe e Exportando para um CSV

import pandas as pd

vendas_produtos = {
    'iphone': [557147, 978545],
    'galaxy': [712350, 244295],
    'ipad': [578425, 605325],
    'tv': [125452, 325478],
    'relogio cassio': [125548, 548248],
    'notebook Dell': [985458, 4587859],
    'caixa de som Kika': [78547965, 458756],
    'microfone c/ blothoo': [69856, 4526],
    'fone de ouvido': [8578, 45652],
    'notebook HP': [654895, 321456],
    'maquina cafe expresso': [7854, 112545],
    'geladeira inox brastemp': [658958, 789546]

}

vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index')
print(vendas_produtos_df)

                                0        1
iphone                     557147   978545
galaxy                     712350   244295
ipad                       578425   605325
tv                         125452   325478
relogio cassio             125548   548248
notebook Dell              985458  4587859
caixa de som Kika        78547965   458756
microfone c/ blothoo        69856     4526
fone de ouvido               8578    45652
notebook HP                654895   321456
maquina cafe expresso        7854   112545
geladeira inox brastemp    658958   789546

In [21]:
# criando DF

display(vendas_produtos_df)

                         Vendas 2024  Vendas 2025
iphone                        557147       978545
galaxy                        712350       244295
ipad                          578425       605325
tv                            125452       325478
relogio cassio                125548       548248
notebook Dell                 985458      4587859
caixa de som Kika           78547965       458756
microfone c/ blothoo           69856         4526
fone de ouvido                  8578        45652
notebook HP                   654895       321456
maquina cafe expresso           7854       112545
geladeira inox brastemp       658958       789546

In [20]:
#Renomeando colunas:

vendas_produtos_df = vendas_produtos_df.rename(columns={0: 'Vendas 2024', 1: 'Vendas 2025'})
display(vendas_produtos_df)

                         Vendas 2024  Vendas 2025
iphone                        557147       978545
galaxy                        712350       244295
ipad                          578425       605325
tv                            125452       325478
relogio cassio                125548       548248
notebook Dell                 985458      4587859
caixa de som Kika           78547965       458756
microfone c/ blothoo           69856         4526
fone de ouvido                  8578        45652
notebook HP                   654895       321456
maquina cafe expresso           7854       112545
geladeira inox brastemp       658958       789546

In [19]:
#Exportando para CSV

vendas_produtos_df.to_csv('Novo Vendas Produtos.csv', sep= ';', encoding='latin1')